/* google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

/* Shared Style */

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
}

header,
main {
  width: 1170px;
  margin: 0 auto;
}

.title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.btn-style {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/* banner style */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 16px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  /* padding-top: 106px; */
}

.banner-title {
  padding-top: 106px;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-description {
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  width: 676px;
  text-align: center;
  margin: 0 auto;
}
.banner-input-field {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 800px;
  height: 84px;
  margin: 64px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#where-go-field,
#when-field,
#select-type-field {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
}
#where-go-field,
#when-field,
#select-type-field:focus {
  outline: none;
}

/* Popular Tour Styles */
.popular-tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.popular-tour-container {
  width: 530px;
}
/* .popular-tour-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
} */

.popular-tour-description > span,
li,
span {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 24px;
}
.popular-tour-btn {
  margin-top: 32px;
}
.popular-tour-btn > button {
  font-size: 20px;
}

/* Destination styles  */
.destination-container {
  text-align: center;
  margin-bottom: 100px;
}
/* .destination-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
} */

.destination-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  width: 643px;
  margin: auto auto 48px;
}
.destination-images-row-one {
  display: flex;
  gap: 24px;
}
.destination-images-row-two {
  display: flex;
  gap: 24px;
  margin: 24px auto 24px;
}
.destination-images-row-three {
  display: flex;
  gap: 24px;
}

/* Choose Us Style */
.choose-us-container {
  text-align: center;
  margin-bottom: 100px;
}
.choose-us-description {
  width: 643px;
  margin: auto;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.choose-us-card {
  text-align: left;
  margin-top: 48px;
}
.card-row-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.card-row-two {
  width: 573px;
  margin: 24px auto 24px;
}
.card-hotels,
.card-price {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
.card-service {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
.card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 10px;
}
.card-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  width: 486px;
}

/* Newsletter Styles */
.newsletter-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.newsletter-content {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 0;
}
.newsletter-description {
  color: #5a5a5d;
  width: 350px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.newsletter-content > hr {
  margin-bottom: 24px;
}
.newsletter-content > button {
  width: 100%;
  font-size: 20px;
}

#newsletter-text,
#newsletter-email {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding-left: 16px;
  border: none;
  font-size: 16px;
}
#newsletter-text,
#newsletter-email:focus {
  outline: none;
}

.newsletter-image {
  position: relative;
}
.newsletter-travel-discount {
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  position: absolute;
  right: 0;
  top: 255px;
  left: 342px;
  text-align: center;
}
.newsletter-travel-discount > h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}
.newsletter-travel-discount > h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-top: 0;
}

/* footer styles */
footer {
  background: rgba(19, 19, 24, 0.05);
  height: 500px;
  display: block;
  margin: auto;
  text-align: center;
}
footer > hr {
  width: 872px;
  height: 1px;
  margin: 50px auto;
  background: rgba(19, 19, 24, 0.1);
}
.footer-title {
  padding-top: 110px;
  margin-bottom: 24px;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-title > img {
  margin-right: 16px;
}
.footer-travel-text {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}
.footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 769px;
  margin: 0 auto 33px;
}
.footer-text {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}
.footer-icon > img {
  margin-right: 20px;
}
