/* google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

/* Shared Style */

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
}

header,
main {
  width: 1170px;
  margin: 0 auto;
}

.title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.btn-style {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
  margin-bottom: 24px;
}
.nav-title {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-title > img {
  margin-right: 16px;
}
.nav-travel-text {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}

.nav-icon {
  display: none;
}

.nav-link > ul {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.nav-link li {
  list-style: none;
  margin-right: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.nav-link a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.nav-link-home a {
  color: #ff5400;
}

/* banner style */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 16px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.banner-title {
  padding-top: 106px;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-description {
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  width: 676px;
  text-align: center;
  margin: 0 auto;
}
.banner-input-field {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 800px;
  height: 84px;
  margin: 64px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#where-go-field,
#when-field,
#select-type-field {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
}
#where-go-field,
#when-field,
#select-type-field:focus {
  outline: none;
}

/* Popular Tour Styles */
.popular-tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.popular-tour-description > span,
li,
span {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 24px;
}
.popular-tour-btn {
  margin-top: 32px;
}
.popular-tour-btn > button {
  font-size: 20px;
}
.popular-tour > img {
  margin-left: 48px;
}

/* Destination styles  */
.destination-container {
  text-align: center;
  margin-bottom: 100px;
}

.destination-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin: auto auto 48px;
}

.destination-background-image {
  border-radius: 16px;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.destination-background-image > h1 {
  padding-top: 132px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.destination-images-row-one {
  display: flex;
  gap: 24px;
}
.destination-image-maldives {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 5.png");
}
.destination-image-indonesia {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 8.png");
}
.destination-images-row-two {
  display: flex;
  gap: 24px;
  margin: 24px auto 24px;
}
.destination-image-srilanka {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 6.png");
}
.destination-image-north-america {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 7.png");
}
.destination-image-kashmir {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 9.png");
}

.destination-images-row-three {
  display: flex;
  gap: 24px;
}
.destination-image-bangladesh {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 11.png");
}
.destination-image-bandarban {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 10.png");
}

/* Choose Us Style */
.choose-us-container {
  text-align: center;
  margin-bottom: 100px;
}
.choose-us-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.choose-us-card {
  text-align: left;
  margin-top: 48px;
}
.card-row-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.card-row-two {
  width: 573px;
  margin: 24px auto 24px;
}
.card-hotels,
.card-price {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
.card-service {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
.card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 10px;
}
.card-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  width: 486px;
}

/* Feedback Section */
.feedback-container {
  margin-bottom: 100px;
  text-align: center;
}
.feedback {
  margin-top: 56px;
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
}
blockquote {
  background-color: #f3f3f3;
  border-left: 5px solid #ff5400;
  padding: 28px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
}
.feedback-image-name-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.feedback-image-name-container > img {
  border-radius: 50%;
  margin-right: 12px;
}
.feedback-image-name-container > h2 {
  line-height: 24px;
}

/* Newsletter Styles */
.newsletter-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.newsletter-content {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 0;
}
.newsletter-description {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
.newsletter-content > hr {
  margin-bottom: 24px;
}
.newsletter-content > button {
  width: 100%;
  font-size: 20px;
}

#newsletter-text,
#newsletter-email {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding-left: 16px;
  border: none;
  font-size: 16px;
}
#newsletter-text,
#newsletter-email:focus {
  outline: none;
}

.newsletter-image {
  position: relative;
}
.newsletter-travel-discount {
  border-radius: 16px;
  background: #ff5400;
  width: 50%;
  height: 120px;
  transform: rotate(-19.628deg);
  position: absolute;
  right: 0;
  top: 255px;
  left: 325px;
  text-align: center;
}
.newsletter-travel-discount > h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}
.newsletter-travel-discount > h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-top: 0;
}

/* footer styles */
footer {
  background: rgba(19, 19, 24, 0.05);
  height: 500px;
  margin: auto;
  text-align: center;
}
footer > hr {
  width: 872px;
  height: 1px;
  margin: 50px auto;
  background: rgba(19, 19, 24, 0.1);
}
.footer-title {
  padding-top: 110px;
  margin-bottom: 24px;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-title > img {
  margin-right: 16px;
}
.footer-travel-text {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}
.footer-description {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto 33px;
}
.footer-text {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}
.footer-icon > img {
  margin-right: 20px;
}

/* ----------Responsive Styles---------- */

/* For Small Device */
@media screen and (max-width: 600px) {
  header,
  main {
    width: 90%;
  }

  .title {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
  }

  /* navbar */
  .nav-link {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .nav-icon > img {
    width: 24px;
  }

  .nav-title {
    margin-bottom: 0;
  }

  .nav-title,
  .nav-travel-text {
    font-size: 22px;
  }
  .nav-title > img {
    width: 28px;
    margin-right: 14px;
  }

  /* banner responsive design */
  .banner {
    height: 483px;
    margin-top: 17px;
    margin-bottom: 24px;
  }
  .banner-title {
    font-size: 22px;
    padding-top: 32px;
  }
  .banner-description {
    font-size: 14px;
    width: 90%;
    font-weight: 200;
  }
  .banner-input-field {
    flex-direction: column;
    width: 90%;
    height: 288px;
    margin-top: 32px;
  }
  #where-go-field {
    width: 85%;
  }

  #when-field,
  #select-type-field {
    width: 90%;
  }
  .banner-input-field > button {
    width: 90%;
  }

  /* popular tour responsive */
  .popular-tour {
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-bottom: 24px;
  }
  .popular-tour > img {
    margin-left: 0;
  }
  .popular-tour > img {
    width: 100%;
    height: 342px;
  }
  .popular-tour-title {
    text-align: left;
  }
  .popular-tour-description > span,
  li,
  span {
    font-size: 14px;
    text-align: justify;
  }

  /* destination */
  .destination-container {
    margin-bottom: 24px;
    text-align: center;
  }
  .destination-description {
    font-size: 14px;
    margin: 0 0 16px 15px;
  }
  .destination-images-row-one,
  .destination-images-row-two,
  .destination-images-row-three {
    flex-direction: column;
  }

  .destination-image-maldives,
  .destination-image-bandarban,
  .destination-image-bangladesh,
  .destination-image-indonesia,
  .destination-image-kashmir,
  .destination-image-north-america,
  .destination-image-srilanka {
    width: 100%;
  }

  /* Choose Us */
  .choose-us-container {
    text-align: center;
    margin-bottom: 24px;
  }
  .choose-us-description {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
  .choose-us-card {
    margin-top: 16px;
  }
  .card-row-one {
    grid-template-columns: repeat(1, 100%);
  }
  .card-row-two {
    width: 100%;
    margin: 24px 0 0;
  }
  .card-title {
    font-size: 20px;
  }
  .card-description {
    width: 100%;
    height: 120px;
    font-size: 14px;
  }

  /* Feedback Style */
  .feedback {
    flex-direction: column;
    gap: 72px;
  }

  /* newsletter */
  .newsletter-container {
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
  }
  .newsletter-content {
    padding: 20px;
  }
  .newsletter-title {
    font-size: 20px;
  }
  .newsletter-description {
  }
  #newsletter-text,
  #newsletter-email {
    width: 90%;
  }
  .newsletter-content > button {
    width: 95%;
  }

  .newsletter-image > img {
    width: 100%;
    height: 300px;
  }
  .newsletter-travel-discount {
    width: 214px;
    height: 80px;
    top: 190px;
    left: 160px;
    display: none;
  }
  .newsletter-travel-discount > h5 {
    font-size: 15px;
  }
  .newsletter-travel-discount > h4 {
    font-size: 21px;
  }

  /* footer */
  footer {
    height: 350px;
    width: 100%;
    display: block;
    margin: 0;
  }
  footer > hr {
    width: auto;
    margin: 30px auto;
  }
  .footer-title {
    padding-top: 33px;
  }
  .footer-title,
  .footer-travel-text {
    font-size: 22px;
  }
  .footer-title > img {
    width: 28px;
    margin-right: 14px;
  }
  .footer-description {
    width: 287px;
    font-size: 14px;
  }
}
